tests/test-environment/config-directory
tests/test-environment/example-file.txt
tests/test-environment/does-not-exist.txt
tests/test-environment/managed-file.txt
tests/test-environment/symlink